<footer>
    <div class="footer__socials">
        <a href="https://www.facebook.com/profile.php?id=100083212778318" target="_blank"><i class="uil uil-facebook-f"></i></a>
    </div>
    <div class="container footer__container">
        <article>
            <h4>Menü</h4>
            <ul>
                <li><a href="index.html">Főoldal</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">Rólunk</a></li>
                <li><a href="services.html">Szolgáltatások</a></li>
                <li><a href="contact.html">Kapcsolat</a></li>
            </ul>
        </article>
        <article>
            <h4>Blog</h4>
            <ul>
                <li><a href="post.html">Lorem Ipsum</a></li>
                <li><a href="post.html">Lorem Ipsum</a></li>
                <li><a href="post.html">Lorem Ipsum</a></li>
                <li><a href="post.html">Lorem Ipsum</a></li>
            </ul>
        </article>
    </div>
    <div class="footer__copyright">
        <small>Minden jog fenntartva &copy; 2024 | Bom-Bau</small>
    </div>
        
</footer>

<script src="<?= ROOT_URL ?>js/main.js"></script>

</body>
</html>
